body {
  background-color: #282828;
  color: white;
}

a:hover {
  text-decoration:underline;
}

/* Nav CSS */

.nav {
  color: white;
  background-image: url("./assets/pexels-mark-angelo-sampan-738078-1587927.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  padding: 2em;
}

.navLink {
  text-decoration: none;
  color: white;
}

.navLinks h2 {
  margin-left: 2em;
}

.flex {
  display: flex;
}

/* Home CSS */

.pageHead {
  color: white;
  text-align: center;
}

.intro {
  color: white;
  height: 90px;
  margin-top: 50px;
  justify-content: space-evenly;
}

.artistTile {
  /* border: 1px solid white; */
  color: white;
  height: 400px;
  padding: 2em;
  text-align: center;
  justify-content: space-evenly;
  border-radius:12px;
  margin-bottom: 10px;
}

.divider {
  color: white;
}

.bandPhoto {
  height: 225px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius:12px;
}

.play, .linkIcon {
  height: 40px;
}

.description {
  width: 50%;
  border: 1px solid white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  height: 300px;
  margin-top: 20px;
  /* overflow: scroll; */
  border-radius:12px;
  text-align:left;
  background-color: #3D3D3D;
}

.spotifyPreview {
  border-radius:12px;
  width:100%;
  height: 350px;
  margin-top: 10px;
}

.links {
  justify-content: space-between;
  padding: 5px;
}

.bandName {
  color: white;
  text-decoration: none;
}

/* BandAdd CSS */
.bandAdd {
  color: white;
  text-align: center;
  width: 75%;
  background-color: coral;
  border-radius:12px;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  font-size: 20px;
}

.bandAddInput {
  width: 50%;
  margin-right: 10px;
}

/* Footer CSS */
.footer {
  background-image: url(./assets/pexels-mark-angelo-sampan-738078-1587927.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  background-position-y: 35%;
  color: white;
  margin-top: 20px;
  padding-top: 25px;
  justify-content: space-around;
}

/* About Us CSS */
.aboutUsContent {
  margin: auto;
  margin-top: 40px;
  width: 75%;
  height: 550px;
  background-image: url("./src/assets/pexels-sebastian-ervi-866902-1763075.jpg");
  background-size:cover;
}

.about, .contact {
  margin-top: 20px;
}

.faq {
  width: 75%;
  margin: auto;
  border: 1px solid white;
  padding: 10px;
}

.abouttext {
  background-color: #3D3D3D;
  padding: 20px;
}

/* Contact CSS */

.contactSub {
  margin-right: 10px;
}

.contactForm {
  margin-bottom: 285px;
  margin-top: 20px;
  width: 70%;
  padding: 20px;
  background-image: url("./src/assets/pexels-pixabay-164755.jpg");
  opacity: 75%;
  background-size: cover;
  font-size: 20px;
}

.contactImg {
  height: 600px;
  margin-left: 50%;
}


